.container {
    display: grid;
    grid-template-columns: 7fr 3fr;
    grid-template-rows: 6fr 3fr 36fr 3fr;
    grid-template-areas: 
        "header header"
        "navbar navbar"
        "content aside"
        "footer footer";
    min-height: 100vh;

    .chunk {
        // padding: 1rem 2rem;
    }

    .header {
        grid-area: header;
    }

    .navbar {
        grid-area: navbar;
    }

    .content {
        grid-area: content;
    }

    .aside {
        grid-area: aside;
    }

    .footer {
        grid-area: footer;
    }

    .test {
        list-style-type: decimal;
    }

    
}

.hidden {
    display: none;
}
