$background: #282c34;
// $background: #1C1E24;

$black: #000000;
$shadow: #7773;
$surface: #eeeeee;
$onSurface: #eeeeee;
$onSurfaceVariant: #eeeeee77;
$surfaceVariant: #999999;
$primary: #e63946;
$secondary: #e63946;

$BLACK: #000000;
$BLUE: #3498db;
$BROWN: #845629;
$GRAY: #7c7c7c;
$GREEN: #3ad860;
$ORANGE: #e5953e;
$PURPLE: #a540f4;
$RED: #f24952;
$WHITE: #ffffff;
$YELLOW: #f4f932;
