@use 'colors';

.full {
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    align-items: start;
    gap: 20px;
    width: 100%;
    height: 100%;
    padding: 1rem 2rem;
    box-sizing: border-box;
}

.flex {
    display: flex;
}

.list {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.inline-flex {
    display: inline-flex;
    gap: 1rem;
}

.inline {
    display: inline;

    * {
        margin-right: 20px;
        margin-bottom: 20px;
    }

    span {
        margin-right: 0;
        margin-bottom: 0;
    }
}

.radius {
    border-radius: 8px;
}

.t-pad {
    padding: .5rem 1rem;
}

.filter-inverted {
    filter: invert(1);
}

.table {
    display: grid;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

.table-row {
    display: table-row;
    flex-direction: row;
    flex-grow: 1;
}

.table-cell {
    display: flex;
    flex-grow: 1;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    padding: .8rem;
}

.button {
    position: relative;
    padding: 1rem 2rem;
    border-radius: 8px;
    color: colors.$BLACK;
    letter-spacing: 2px;
    overflow: hidden;
    transition: .2s;

    &:hover {
        cursor: pointer;

        .button-span {
            opacity: 0;
            transition: .2s;
        }

    }

    &:hover .button-overlay-1 {
        opacity: 1;
    }

    &:hover .button-overlay-1 span {
        font-size: 1.1rem;
        opacity: 1;
    }

    &:hover .button-overlay-2 span {
        font-size: 4rem;
        opacity: 0;
    }

    .button-overlay-1 {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: colors.$BLACK;
        opacity: 0;
        transition: .2s ease-in-out;

        span {
            font-weight: bold;
            margin-top: 0;
            opacity: 0;
            transition: .2s ease-in-out;
        }
    }

    .button-overlay-2 {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

        span {
            opacity: 1;
            transition: .4s;
        }
    }

    span {
        user-select: none;
    }
}

.button-small {
    padding: 0.7rem 1.3rem;
    font-size: 0.7rem;
}
.button-medium {
    padding: 1rem 1.8rem;
    font-size: 1rem;
}
.button-big {
    padding: 2.4rem 4rem;
    font-size: 2.4rem;
}

.calendar {
    padding: 0.5rem 1rem;
    background: transparent;
    border-radius: 8px;
    border: 1px solid colors.$BLACK;
    box-sizing: border-box;
    font-size: 1rem;
    overflow: hidden;
    outline: none;
    transition: .2s;

    &::-webkit-calendar-picker-indicator {
        cursor: pointer;
        transition: .2s;

        &:hover {
            scale: 1.2;

        }
    }
}

.image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    user-select: none;
}

.heading {
    // font-size: 24px;
}

.text-input-container {
    gap: .5rem;
    padding: 0.5rem 1rem;
    border: 1px solid colors.$BLACK;
    border-radius: 8px;

    &-wrapper {
        position: relative;
        display: flex;
        align-items: center;

        .text-input {
            background-color: transparent;
            border: none;
            font-size: 1rem;
            outline: none;

            
            &:focus .text-input-container-wrapper::before {
                // border-bottom: 1px solid colors.$BLACK;
                width: 100%;

            }

            &:focus ~ .text-input-line {
                width: calc(100% - 24px);
            }

            &-icon {
                margin-left: .5rem;

                &:hover {
                    cursor: pointer;
                }
            }
        }

        .text-input-line {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 0%;
            height: 1px;
            margin-right: 40px;
            background-color: colors.$BLACK;
            transition: .2s;
        }
    }
}

.link {
    cursor: pointer;
    font-size: 1rem;
    transition: .2s;
    
    a {
        pointer-events: none;
    }

    &:hover {
        filter: brightness(0.8);
    }
}

.paragraph {
    margin: 0;
    text-align: start;
}

.photo-gallery {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 100%;
    padding: 0 .4rem;
    border-radius: 8px;

    .pg-button {
        height: 100%;
        padding: 0 .8rem 0 0;
        transition: .2s;

        &:hover {
            padding: 0 0 0 .8rem;
            cursor: pointer;
        }
    }

    .pg-left {
        padding: 0 0 0 .8rem;

        &:hover {
            padding: 0 .8rem 0 0;
        }
    }

    .pg-right {
        padding: 0 .8rem 0 0;

        &:hover {
            padding: 0 0 0 .8rem;
        }
    }
}

.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 160px;
    padding: 1.6rem 1rem;
    box-sizing: border-box;
    font-size: 1.3rem;

    .profile-image {
        object-fit: cover;
        border-radius: 100%;
        width: 70%;
        aspect-ratio: 1;
        border-width: 2px;
        border-style: solid;
    }
}

.profile-small {
    width: 100px;
    font-size: 1rem;
}

.profile-medium {
    width: 160px;
    font-size: 1.3rem;
}

.profile-big {
    gap: 2rem;
    width: 300px;
    padding: 3rem 1rem;
    font-size: 3rem;
}

.slider {
    width: 200px;
    height: 24px;
    appearance: none;
    -webkit-appearance: none;
    background: transparent;
    border: 1px solid rgba(0, 0, 0, .4);
    border-radius: 12px;
    outline: none;
    overflow: hidden;
    transition: .2s;

    &:hover {
        border-color: colors.$BLACK;
    }

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        height: 24px;
        aspect-ratio: 1;
        background: colors.$black;
        border-radius: 50%;
        cursor: pointer;
        opacity: .6;
        transition: .2s;

        &:hover {
            opacity: 1;
        }
    }

    &::-moz-range-thumb {
        height: 24px;
        aspect-ratio: 1;
        background: colors.$black;
        border-radius: 50%;
        cursor: pointer;
        opacity: .6;
        transition: .2s;

        &:hover {
            opacity: 1;
        }
    }

}

.video-small {
    width: 200px;
}

.video-medium {
    width: 400px;
}

.video-big {
    width: 800px;
}

.pg-small {
    font-size: 2rem;
}

.pg-medium {
    font-size: 3rem;
}

.pg-big {
    font-size: 6rem;
}

.bg-red {
    background-color: colors.$RED;
}
.bg-black {
    background-color: colors.$BLACK;
}
.bg-blue {
    background-color: colors.$BLUE;
}
.bg-brown {
    background-color: colors.$BROWN;
}
.bg-gray {
    background-color: colors.$GRAY;
}
.bg-green {
    background-color: colors.$GREEN;
}
.bg-orange {
    background-color: colors.$ORANGE;
}
.bg-purple {
    background-color: colors.$PURPLE;
}
.bg-white {
    background-color: colors.$WHITE;
}
.bg-yellow {
    background-color: colors.$YELLOW;
}
.bg-transparent {
    background-color: transparent;
}

.bd-thin {
    border-width: 1px;
}
.bd-medium {
    border-width: 2px;
}
.bd-thick {
    border-width: 4px;
}

.font-color-black {
    color: black;
}
.font-color-blue {
    color: blue;
}
.font-color-brown {
    color: brown;
}
.font-color-gray {
    color: gray;
}
.font-color-green {
    color: green;
}
.font-color-orange {
    color: orange;
}
.font-color-purple {
    color: purple;
}
.font-color-red {
    color: red;
}
.font-color-white {
    color: white;
}
.font-color-yellow {
    color: yellow;
}
.font-color-transparent {
    color: transparent;
}


.font-dec-regular {
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    text-decoration: none;
}
.font-dec-bold {
    font-weight: bold;
}
.font-dec-italic {
    font-style: italic;
}
.font-dec-underlined {
    text-decoration: underline;
}
.font-dec-bold-italic {
    font-weight: bold;
    font-style: italic;
}
.font-dec-bold-underlined {
    text-decoration: underline;
    font-weight: bold;
}
.font-dec-itelic-underlined {
    text-decoration: underline;
    font-style: italic;
}

.font-size-small {
    font-size: .6em;
}
.font-size-medium {
    font-size: 1em;
}
.font-size-big {
    font-size: 2em;
}

.font-style-arial {
    font-family: Arial, Helvetica, sans-serif;
}
.font-style-brush-script-mt {
    font-family: 'Brush script mt';
}
.font-style-courier-new {
    font-family: 'Courier New', Courier, monospace;
}
.font-style-garamond {
    font-family: 'EB Garamond', serif;
}
.font-style-georgia {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.font-style-tahoma {
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}
.font-style-times-new-roman {
    font-family: 'Times New Roman', Times, serif;
}
.font-style-verdana {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.arrange-horizontally {
    display: flex;
    flex-direction: row;
}
.arrange-vertically {
    display: flex;
    flex-direction: column;
}

// .li {

//     &::marker {
//         vertical-align: middle;
//     }
// }

.list-type-ordered {
    list-style-type: decimal;
}
.list-type-unordered {
    list-style-type: disc;
}

.list-marker-decimal {
    list-style-type: decimal;
}
.list-marker-lower-alpha {
    list-style-type: lower-alpha;
}
.list-marker-upper-alpha {
    list-style-type: upper-alpha;
}
.list-marker-circle {
    list-style-type: circle;
}
.list-marker-disc {
    list-style-type: disc;
}
.list-marker-square {
    list-style-type: square;
}

.bd-red {
    border-color: colors.$RED;
}
.bd-black {
    border-color: colors.$BLACK;
}
.bd-blue {
    border-color: colors.$BLUE;
}
.bd-brown {
    border-color: colors.$BROWN;
}
.bd-gray {
    border-color: colors.$GRAY;
}
.bd-green {
    border-color: colors.$GREEN;
}
.bd-orange {
    border-color: colors.$ORANGE;
}
.bd-purple {
    border-color: colors.$PURPLE;
}
.bd-white {
    border-color: colors.$WHITE;
}
.bd-yellow {
    border-color: colors.$YELLOW;
}
.bd-transparent {
    border-color: transparent;
}

.bd-dashed {
    border-style: dashed;
}
.bd-dotted {
    border-style: dotted;
}
.bd-double {
    border-style: double;
}
.bd-groove {
    border-style: groove;
}
.bd-solid {
    border-style: solid;
}

.no-bd-left-bot {
    border-left: none;
    border-bottom: none;
}

.no-bd-top-right {
    border-top: none;
    border-right: none;
}

.button-download {
    background-color: colors.$BLUE;
    color: colors.$WHITE;
}
.button-cancel {
    background-color: colors.$RED;
    color: colors.$WHITE;
}
.button-edit {
    background-color: colors.$ORANGE;
    color: colors.$WHITE;
}
.button-none {
    background-position: center;
    background-size: cover;
    border: 1px solid #000;
    overflow: hidden;

    &:hover {
        filter: grayscale(1);

        .button-overlay-1 {
            background-color: transparent;
            opacity: 1;
        }
    }
}
.button-reset {
    background-color: colors.$BLUE;
    color: colors.$BLACK;
}
.button-save {
    background-color: colors.$GREEN;
    color: colors.$WHITE;
}
.button-submit {
    background-color: colors.$GREEN;
    color: colors.$WHITE;
}
.button-disabled {
    background-color: colors.$GRAY;
    color: black;
    pointer-events: none;
}

.cal-small {
    height: 34px;
    font-size: .6rem;
}
.cal-medium {
    height: 60px;
    font-size: 1rem;
}
.cal-big {
    height: 80px;
    padding: .5rem 2rem;
    font-size: 2rem;
}

.img-small {
    width: 100px;
    height: 100px;
}
.img-medium {
    width: 200px;
    height: 200px;
}
.img-big {
    width: 600px;
    height: 600px;
}

.audio-small {
    width: 220px;
}
.audio-medium {
    width: 300px;
}
.audio-big {
    width: 500px;
}
